In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

df = pd.read_excel('Data/data.xlsx')

In [2]:
df.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,B.Tech/B.E.,computer engineering,78.00,1141,0,Andhra Pradesh,2011,515,585,525,0.635979,445,-1,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,85.0,cbse,5807,2,B.Tech/B.E.,electronics and communication engineering,70.06,5807,0,Madhya Pradesh,2012,695,610,780,0.960603,-1,466,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,68.2,cbse,64,2,B.Tech/B.E.,information technology,70.00,64,0,Uttar Pradesh,2014,615,545,370,0.450877,395,-1,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,83.6,cbse,6920,1,B.Tech/B.E.,computer engineering,74.64,6920,1,Delhi,2011,635,585,625,0.974396,615,-1,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,2008,76.8,cbse,11368,2,B.Tech/B.E.,electronics and communication engineering,73.90,11368,0,Uttar Pradesh,2012,545,625,465,0.124502,-1,233,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3998 non-null   object
 1   ID                     3998 non-null   int64
 2   Salary                 3998 non-null   int64
 3   DOJ                    3998 non-null   datetime64[ns]
 4   DOL                    3998 non-null   object
 5   Designation            3998 non-null   object
 6   JobCity                3998 non-null   object
 7   Gender                 3998 non-null   object
 8   DOB                    3998 non-null   datetime64[ns]
 9   10percentage           3998 non-null   float64
 10  10board                3998 non-null   object
 11  12graduation           3998 non-null   int64
 12  12percentage           3998 non-null   float64
 13  12board                3998 non-null   object
 14  CollegeID              3998 non-null   int64
 15  CollegeTier            3998 non-null   int64
 16  Degree                 3998 non-null   object
 17  Specialization         3998 non-null   object
 18  collegeGPA             3998 non-null   float64
 19  CollegeCityID          3998 non-null   int64
 20  CollegeCityTier        3998 non-null   int64
 21  CollegeState           3998 non-null   object
 22  GraduationYear         3998 non-null   int64
 23  English                3998 non-null   int64
 24  Logical                3998 non-null   int64
 25  Quant                  3998 non-null   int64
 26  Domain                 3998 non-null   float64
 27  ComputerProgramming    3998 non-null   int64
 28  ElectronicsAndSemicon  3998 non-null   int64
 29  ComputerScience        3998 non-null   int64
 30  MechanicalEngg         3998 non-null   int64
 31  ElectricalEngg         3998 non-null   int64
 32  TelecomEngg            3998 non-null   int64
 33  CivilEngg              3998 non-null   int64
 34  conscientiousness      3998 non-null   float64
 35  agreeableness          3998 non-null   float64
 36  extraversion           3998 non-null   float64
 37  nueroticism            3998 non-null   float64
 38  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(18), object(10)
memory usage: 1.2+ MB

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, ID, Salary, DOJ, DOL, Designation, JobCity, Gender, DOB, 10percentage, 10board, 12graduation, 12percentage, 12board, CollegeID, CollegeTier, Degree, Specialization, collegeGPA, CollegeCityID, CollegeCityTier, CollegeState, GraduationYear, English, Logical, Quant, Domain, ComputerProgramming, ElectronicsAndSemicon, ComputerScience, MechanicalEngg, ElectricalEngg, TelecomEngg, CivilEngg, conscientiousness, agreeableness, extraversion, nueroticism, openess_to_experience]
Index: []

In [5]:
df['Designation'].str.strip()
df['Designation'] = df['Designation'].str.capitalize()

In [6]:
df['Designation'].value_counts()

Designation
Software engineer                         539
Software developer                        265
System engineer                           205
Programmer analyst                        139
Systems engineer                          118
Java software engineer                    111
Software test engineer                    100
Project engineer                           77
Technical support engineer                 76
Senior software engineer                   72
Java developer                             67
Test engineer                              57
Web developer                              54
Application developer                      52
Assistant manager                          52
Network engineer                           51
Data analyst                               49
Business analyst                           49
Engineer                                   47
Android developer                          46
Associate software engineer                46
Programmer                                 36
Senior systems engineer                    35
.net developer                             34
Php developer                              33
Qa analyst                                 29
Production engineer                        29
Design engineer                            28
Asp.net developer                          26
Quality analyst                            25
Electrical engineer                        23
Assistant system engineer                  23
Application engineer                       22
Senior software developer                  20
Lecturer                                   20
System administrator                       20
Management trainee                         19
Senior engineer                            18
Customer service representative            17
Customer service                           17
Quality engineer                           17
Software development engineer              17
Software quality assurance tester          17
Sales executive                            17
Embedded software engineer                 16
Automation engineer                        15
Quality assurance test engineer            15
Research analyst                           15
Get                                        14
Maintenance engineer                       14
Graduate engineer trainee                  14
Quality assurance engineer                 14
Business development manager               14
It support specialist                      13
Technical engineer                         13
Sales engineer                             13
Product development engineer               13
Rf engineer                                13
Ios developer                              13
Entry level management trainee             13
Client services associate                  13
Operations analyst                         12
Oracle dba                                 12
Assistant professor                        12
Junior engineer                            11
Associate system engineer                  11
Systems analyst                            11
Research associate                         11
Product engineer                           10
Quality associate                          10
Junior software engineer                    9
Electrical project engineer                 9
Business analyst consultant                 9
Telecom engineer                            9
Web designer                                9
Technical support specialist                8
Project coordinator                         8
Technical recruiter                         8
Hardware engineer                           8
Process associate                           8
Desktop support technician                  8
Electrical design engineer                  8
It analyst                                  7
Field service engineer                      7
Mechanical design engineer                  7
Software trainee                            7
Salesforce developer                        7
Mechanical engineer                         7
Database developer                          7
Research engineer                           7
It recruiter                                7
Trainee engineer                            7
Operations assistant                        6
Quality assurance automation engineer       6
Web application developer                   6
It technician                               6
Manager                                     6
Trainee software engineer                   6
Information security analyst                6
Process engineer                            6
Associate engineer                          6
Technology analyst                          6
Operation executive                         5
Service coordinator                         5
Etl developer                               5
Product manager                             5
Operations manager                          5
Electrical field engineer                   5
Software quality assurance analyst          5
Linux systems administrator                 5
Sql dba                                     5
Database administrator                      5
Technical lead                              5
Business systems consultant                 5
Senior quality engineer                     5
Ui developer                                5
Electronic field service engineer           5
Site manager                                5
Programmer analyst trainee                  5
Mobile application developer                5
Business development executive              5
Hr recruiter                                5
It executive                                4
Assistant engineer                          4
Marketing analyst                           4
Sales associate                             4
Junior software developer                   4
Senior .net developer                       4
Front end web developer                     4
Assistant systems engineer                  4
It business analyst                         4
Network administrator                       4
Seo executive                               4
Project assistant                           4
Associate software developer                4
Junior research fellow                      4
Engineer trainee                            4
Field business development associate        4
Senior java developer                       4
Sql developer                               4
Senior php developer                        4
Business system analyst                     4
Service engineer                            4
Executive assistant                         4
.net web developer                          4
Account executive                           4
Engineering manager                         3
Manufacturing engineer                      3
Senior network engineer                     3
Customer service manager                    3
Software engineer trainee                   3
Data scientist                              3
Technical support executive                 3
Apprentice                                  3
Graduate apprentice trainee                 3
Senior business analyst                     3
Jr. software engineer                       3
Project manager                             3
Junior engineer product support             3
Sales management trainee                    3
Civil engineer                              3
Seo                                         3
Training specialist                         3
Quality assurance tester                    3
Assistant programmer                        3
Game developer                              3
Assistant software engineer                 3
Marketing coordinator                       3
Desktop support analyst                     3
Technical writer                            3
Senior web developer                        3
Systems administrator                       3
It engineer                                 3
Cad designer                                3
Business technology analyst                 3
Data entry operator                         3
Front end developer                         3
Quality assurance                           3
Designer                                    3
Office coordinator                          3
Sap consultant                              3
Field engineer                              3
Online marketing manager                    3
Network security engineer                   3
Ase                                         3
Service manager                             3
Business intelligence analyst               3
Graduate trainee engineer                   2
Software enginner                           2
Industrial engineer                         2
Process advisor                             2
Team lead                                   2
General manager                             2
Help desk analyst                           2
Shift engineer                              2
Financial analyst                           2
Assistant electrical engineer               2
R&d engineer                                2
Html developer                              2
Sales account manager                       2
Sap abap consultant                         2
Talent acquisition specialist               2
Hr manager                                  2
Principal software engineer                 2
Senior mechanical engineer                  2
Process executive                           2
Seo engineer                                2
Site engineer                               2
Educator                                    2
Testing engineer                            2
Technical assistant                         2
Developer                                   2
Research staff member                       2
Software engineer associate                 2
Quality control engineer                    2
Firmware engineer                           2
Risk consultant                             2
Engineering technician                      2
Portfolio analyst                           2
Senior test engineer                        2
Performance engineer                        2
Javascript developer                        2
Help desk technician                        2
Trainee decision scientist                  2
Entry level sales and marketing             2
Software programmer                         2
Sr. engineer                                2
Business process analyst                    2
Electrical designer                         2
Product developer                           2
Marketing assistant                         2
Customer support engineer                   2
Admin assistant                             2
Planning engineer                           2
Executive recruiter                         2
Asst. manager                               2
Operations executive                        2
Catalog associate                           2
Graduate engineer                           2
Qa engineer                                 2
Ux designer                                 2
Business office manager                     2
C# developer                                2
Sales coordinator                           2
Team leader                                 2
Hr generalist                               2
Software tester                             2
Clerical                                    2
Product design engineer                     2
Executive engineer                          2
Faculty                                     2
Branch manager                              2
Assistant store manager                     2
Technical consultant                        2
Account manager                             1
Project management officer                  1
Controls engineer                           1
Corporate recruiter                         1
Ruby on rails developer                     1
Associate developer                         1
Junior recruiter                            1
Professor                                   1
Business systems analyst                    1
Assistant administrator                     1
Rf/dt engineer                              1
Full-time loss prevention associate         1
Business consultant                         1
Teradata dba                                1
Sales manager                               1
It developer                                1
Software engg                               1
Dotnet developer                            1
Logistics executive                         1
Human resources analyst                     1
Software test engineerte                    1
Test technician                             1
Seo analyst                                 1
Risk investigator                           1
Executive administrative assistant          1
Program manager                             1
R & d                                       1
Sap functional consultant                   1
Website developer/tester                    1
Software designer                           1
Aircraft technician                         1
Customer care executive                     1
Associate qa                                1
Db2 dba                                     1
Program analyst trainee                     1
Electrical controls engineer                1
Senior sales executive                      1
Quality consultant                          1
Editor                                      1
Bss engineer                                1
Dba                                         1
Software eng                                1
Computer faculty                            1
Recruitment associate                       1
It operations associate                     1
Assistant system engineer - trainee         1
Software executive                          1
Cnc programmer                              1
Junior .net developer                       1
Java trainee                                1
Maintenance supervisor                      1
Engineer-hws                                1
Operations engineer                         1
Senior research fellow                      1
Web designer and joomla administrator       1
Enterprise solutions developer              1
Information technology specialist           1
Quality assurance analyst                   1
System engineer trainee                     1
Sales trainer                               1
Research scientist                          1
Sap mm consultant                           1
Assistant system engineer trainee           1
Qa trainee                                  1
Teradata developer                          1
Senior programmer                           1
Software test engineer (etl)                1
Associate software engg                     1
Software engineering associate              1
Supply chain analyst                        1
Hr executive                                1
Software engineer analyst                   1
Sap abap associate consultant               1
Sharepoint developer                        1
Engineer- customer support                  1
Cloud engineer                              1
Technology lead                             1
Software trainee engineer                   1
Dcs engineer                                1
Junior manager                              1
Senior design engineer                      1
Implementation engineer                     1
Executive hr                                1
System analyst                              1
Phone banking officer                       1
Senior project engineer                     1
Continuous improvement engineer             1
Sales and service engineer                  1
Staffing recruiter                          1
Quality controller                          1
Mis executive                               1
Digital marketing specialist                1
Software devloper                           1
Technical operations analyst                1
Telecom support engineer                    1
Service and sales engineer                  1
Embedded engineer                           1
Manual tester                               1
Telecommunication engineer                  1
Documentation specialist                    1
Trainee software developer                  1
Recruitment coordinator                     1
Business development managerde              1
Human resources associate                   1
Operation engineer                          1
Recruiter                                   1
Marketing executive                         1
Associate manager                           1
Senior developer                            1
Associate technical operations              1
Software architect                          1
Seo trainee                                 1
Windows systems administrator               1
Python developer                            1
Operations engineer and jetty handling      1
Lead engineer                               1
Operations                                  1
Field based employee relations manager      1
Support engineer                            1
Gis/cad engineer                            1
Quality control inspector                   1
Visiting faculty                            1
Operational excellence manager              1
Sales & service engineer                    1
Web intern                                  1
Full stack developer                        1
Sr. database engineer                       1
Technical analyst                           1
Executive engg                              1
Process control engineer                    1
Sap analyst                                 1
Associate test engineer                     1
Software engineere                          1
Financial service consultant                1
Co faculty                                  1
Software analyst                            1
It assistant                                1
Marketing manager                           1
Human resource assistant                    1
Hr assistant                                1
Quality control inspection technician       1
Sales development manager                   1
Graphic designer                            1
Delivery software engineer                  1
Clerical assistant                          1
Network support engineer                    1
Junior system analyst                       1
Secretary                                   1
Quality assurance auditor                   1
Lecturer & electrical maintenance           1
Sales support                               1
Administrative support                      1
Territory sales manager                     1
Project administrator                       1
Environmental engineer                      1
Web designer and seo                        1
Operational executive                       1
Administrative coordinator                  1
Senior risk consultant                      1
Desktop support engineer                    1
Cad drafter                                 1
Noc engineer                                1
Human resources intern                      1
Senior quality assurance engineer           1
Jr. software developer                      1
Name: count, dtype: int64

In [7]:
df['JobCity'] = df['JobCity'].str.strip()
df['JobCity'] = df['JobCity'].str.capitalize()

In [8]:
choices = ['Bangalore','Noida','Hyderabad','Pune','Chennai','Gurgaon','Delhi','Kolkata','Mumbai','Jaipur',
           'Lucknow','Mysore','Mumbai','Noida','Chandigarh','Bhubaneswar','Indore','Coimbatore','Bhopal','Ahmedabad','Faridabad',
           'Ghaziabad','Kochi','Mohali','Dehradun','Nagpur','Mangalore','Trivandrum','Kanpur','Thane','Jabalpur','Patna','Visakhapatnam',
           'Pondicherry','Trichy','Raipur','Jodhpur','Meerut','Udaipur','Ranchi','Madurai','Nasikcity','Bilaspur','Dubai',
           'Rudrapur','Panchkula','Haridwar','Ludhiana','Tirupathi','Gandhinagar','Secunderabad','Aurangabad']

In [9]:
df['JobCity'].value_counts()

JobCity
Bangalore                                 665
Noida                                     389
Hyderabad                                 368
Pune                                      327
Chennai                                   313
Gurgaon                                   217
New delhi                                 204
Kolkata                                   119
Mumbai                                    119
Jaipur                                     53
Lucknow                                    41
Mysore                                     40
Navi mumbai                                34
Greater noida                              29
Chandigarh                                 28
Bhubaneswar                                27
Indore                                     25
Delhi                                      21
Coimbatore                                 21
Bhopal                                     19
Ahmedabad                                  19
Faridabad                                  18
Ghaziabad                                  16
Banglore                                   14
Kochi/cochin                               13
Mohali                                     13
Dehradun                                   11
Nagpur                                     11
Mangalore                                  11
Trivandrum                                 10
Kanpur                                      9
Bhubaneshwar                                9
Thiruvananthapuram                          7
Thane                                       7
Jabalpur                                    7
Patna                                       7
Visakhapatnam                               7
Pondicherry                                 6
Trichy                                      5
Bengaluru                                   5
Raipur                                      5
Jodhpur                                     5
Meerut                                      4
Bhubneshwar                                 4
Udaipur                                     4
Ranchi                                      4
Madurai                                     4
Gurgoan                                     4
Nasikcity                                   4
Bilaspur                                    3
Vizag                                       3
Dubai                                       3
Rudrapur                                    3
Panchkula                                   3
Haridwar                                    3
Nashik                                      3
Ludhiana                                    3
Tirupathi                                   3
Gandhinagar                                 3
Secunderabad                                3
Aurangabad                                  3
Neemrana                                    2
Pantnagar                                   2
Ambala                                      2
Kota                                        2
Pilani                                      2
Ongole                                      2
Karnal                                      2
Sambalpur                                   2
Ahmednagar                                  2
Sonipat                                     2
Nalagarh                                    2
Shahdol                                     2
Chandrapur                                  2
Hubli                                       2
Vadodara                                    2
Jamnagar                                    2
Agra                                        2
Vijayawada                                  2
Kochi                                       2
Belgaum                                     2
Siliguri                                    2
Jamshedpur                                  2
Dhanbad                                     2
Gandhi nagar                                2
Manesar                                     2
Beawar                                      2
Rajkot                                      2
Hissar                                      2
Unnao                                       2
Kakinada                                    1
Rayagada, odisha                            1
Bahadurgarh                                 1
Hderabad                                    1
Bhilai                                      1
Kolhapur                                    1
Varanasi                                    1
Punr                                        1
Nellore                                     1
Sahibabad                                   1
Howrah                                      1
Trichur                                     1
Kurnool                                     1
Durgapur                                    1
Surat                                       1
Kala amb                                    1
Gonda                                       1
Orissa                                      1
Kharagpur                                   1
Navi mumbai , hyderabad                     1
Joshimath                                   1
Bathinda                                    1
Johannesburg                                1
Bhiwadi                                     1
Pondi                                       1
London                                      1
Gaziabaad                                   1
Rewari                                      1
Baddi hp                                    1
Nagari                                      1
Mettur, tamil nadu                          1
Khopoli                                     1
Jhansi                                      1
Gurga                                       1
Keral                                       1
Rae bareli                                  1
Vellore                                     1
Dausa                                       1
Latur (maharashtra )                        1
Mainpuri                                    1
Dammam                                      1
Haldia                                      1
Patiala                                     1
Rourkela                                    1
Gorakhpur                                   1
New dehli                                   1
Ambala city                                 1
Karad                                       1
Rajpura                                     1
Haryana                                     1
Banaglore                                   1
Guwahati                                    1
Roorkee                                     1
Bihar                                       1
Allahabad                                   1
Delhi/ncr                                   1
Jalandhar                                   1
Vapi                                        1
Muzzafarpur                                 1
Ras al khaimah                              1
Singaruli                                   1
Sampla                                      1
Pondy                                       1
Phagwara                                    1
Guragaon                                    1
Baripada                                    1
Yamuna nagar                                1
Shahibabad                                  1
Tirupati                                    1
Jhajjar                                     1
Chennai, bangalore                          1
Hospete                                     1
Indirapuram, ghaziabad                      1
Gwalior                                     1
Chennai & mumbai                            1
Rajasthan                                   1
Muzaffarpur                                 1
Bareli                                      1
Miryalaguda                                 1
Muzaffarnagar                               1
Dharuhera                                   1
Ganjam                                      1
Alwar                                       1
Ncr                                         1
Kudankulam ,tarapur                         1
Bankura                                     1
Gagret                                      1
Kolkata`                                    1
Bundi                                       1
Ariyalur                                    1
Cheyyar                                     1
Sonepat                                     1
Banagalore                                  1
Jagdalpur                                   1
Angul                                       1
Baroda                                      1
Jowai                                       1
Bellary                                     1
Kochi/cochin, chennai and coimbatore        1
Dharamshala                                 1
Nouda                                       1
Calicut                                     1
Raigarh                                     1
Bulandshahar                                1
New delhi - jaisalmer                       1
Sadulpur,rajgarh,distt-churu,rajasthan      1
Jeddah saudi arabia                         1
Kalmar, sweden                              1
Burdwan                                     1
Shimla                                      1
Gajiabaad                                   1
Jammu                                       1
Muvattupuzha                                1
Al jubail,saudi arabia                      1
Punchkula                                   1
Tornagallu                                  1
A-64,sec-64,noida                           1
Ratnagiri                                   1
Australia                                   1
Gulbarga                                    1
Hyderabad(bhadurpally)                      1
Maharajganj                                 1
Jaspur                                      1
Bharuch                                     1
Am                                          1
Vsakhapttnam                                1
Bikaner                                     1
Bhagalpur                                   1
India                                       1
Asansol                                     1
Tirunelvelli                                1
Ernakulam                                   1
Daman and diu                               1
Technopark, trivandrum                      1
Nanded                                      1
Dharmapuri                                  1
Vandavasi                                   1
Rohtak                                      1
Una                                         1
Salem                                       1
Asifabadbanglore                            1
Name: count, dtype: int64

In [10]:
df['JobCity'].value_counts()

JobCity
Bangalore                                 665
Noida                                     389
Hyderabad                                 368
Pune                                      327
Chennai                                   313
Gurgaon                                   217
New delhi                                 204
Kolkata                                   119
Mumbai                                    119
Jaipur                                     53
Lucknow                                    41
Mysore                                     40
Navi mumbai                                34
Greater noida                              29
Chandigarh                                 28
Bhubaneswar                                27
Indore                                     25
Delhi                                      21
Coimbatore                                 21
Bhopal                                     19
Ahmedabad                                  19
Faridabad                                  18
Ghaziabad                                  16
Banglore                                   14
Kochi/cochin                               13
Mohali                                     13
Dehradun                                   11
Nagpur                                     11
Mangalore                                  11
Trivandrum                                 10
Kanpur                                      9
Bhubaneshwar                                9
Thiruvananthapuram                          7
Thane                                       7
Jabalpur                                    7
Patna                                       7
Visakhapatnam                               7
Pondicherry                                 6
Trichy                                      5
Bengaluru                                   5
Raipur                                      5
Jodhpur                                     5
Meerut                                      4
Bhubneshwar                                 4
Udaipur                                     4
Ranchi                                      4
Madurai                                     4
Gurgoan                                     4
Nasikcity                                   4
Bilaspur                                    3
Vizag                                       3
Dubai                                       3
Rudrapur                                    3
Panchkula                                   3
Haridwar                                    3
Nashik                                      3
Ludhiana                                    3
Tirupathi                                   3
Gandhinagar                                 3
Secunderabad                                3
Aurangabad                                  3
Neemrana                                    2
Pantnagar                                   2
Ambala                                      2
Kota                                        2
Pilani                                      2
Ongole                                      2
Karnal                                      2
Sambalpur                                   2
Ahmednagar                                  2
Sonipat                                     2
Nalagarh                                    2
Shahdol                                     2
Chandrapur                                  2
Hubli                                       2
Vadodara                                    2
Jamnagar                                    2
Agra                                        2
Vijayawada                                  2
Kochi                                       2
Belgaum                                     2
Siliguri                                    2
Jamshedpur                                  2
Dhanbad                                     2
Gandhi nagar                                2
Manesar                                     2
Beawar                                      2
Rajkot                                      2
Hissar                                      2
Unnao                                       2
Kakinada                                    1
Rayagada, odisha                            1
Bahadurgarh                                 1
Hderabad                                    1
Bhilai                                      1
Kolhapur                                    1
Varanasi                                    1
Punr                                        1
Nellore                                     1
Sahibabad                                   1
Howrah                                      1
Trichur                                     1
Kurnool                                     1
Durgapur                                    1
Surat                                       1
Kala amb                                    1
Gonda                                       1
Orissa                                      1
Kharagpur                                   1
Navi mumbai , hyderabad                     1
Joshimath                                   1
Bathinda                                    1
Johannesburg                                1
Bhiwadi                                     1
Pondi                                       1
London                                      1
Gaziabaad                                   1
Rewari                                      1
Baddi hp                                    1
Nagari                                      1
Mettur, tamil nadu                          1
Khopoli                                     1
Jhansi                                      1
Gurga                                       1
Keral                                       1
Rae bareli                                  1
Vellore                                     1
Dausa                                       1
Latur (maharashtra )                        1
Mainpuri                                    1
Dammam                                      1
Haldia                                      1
Patiala                                     1
Rourkela                                    1
Gorakhpur                                   1
New dehli                                   1
Ambala city                                 1
Karad                                       1
Rajpura                                     1
Haryana                                     1
Banaglore                                   1
Guwahati                                    1
Roorkee                                     1
Bihar                                       1
Allahabad                                   1
Delhi/ncr                                   1
Jalandhar                                   1
Vapi                                        1
Muzzafarpur                                 1
Ras al khaimah                              1
Singaruli                                   1
Sampla                                      1
Pondy                                       1
Phagwara                                    1
Guragaon                                    1
Baripada                                    1
Yamuna nagar                                1
Shahibabad                                  1
Tirupati                                    1
Jhajjar                                     1
Chennai, bangalore                          1
Hospete                                     1
Indirapuram, ghaziabad                      1
Gwalior                                     1
Chennai & mumbai                            1
Rajasthan                                   1
Muzaffarpur                                 1
Bareli                                      1
Miryalaguda                                 1
Muzaffarnagar                               1
Dharuhera                                   1
Ganjam                                      1
Alwar                                       1
Ncr                                         1
Kudankulam ,tarapur                         1
Bankura                                     1
Gagret                                      1
Kolkata`                                    1
Bundi                                       1
Ariyalur                                    1
Cheyyar                                     1
Sonepat                                     1
Banagalore                                  1
Jagdalpur                                   1
Angul                                       1
Baroda                                      1
Jowai                                       1
Bellary                                     1
Kochi/cochin, chennai and coimbatore        1
Dharamshala                                 1
Nouda                                       1
Calicut                                     1
Raigarh                                     1
Bulandshahar                                1
New delhi - jaisalmer                       1
Sadulpur,rajgarh,distt-churu,rajasthan      1
Jeddah saudi arabia                         1
Kalmar, sweden                              1
Burdwan                                     1
Shimla                                      1
Gajiabaad                                   1
Jammu                                       1
Muvattupuzha                                1
Al jubail,saudi arabia                      1
Punchkula                                   1
Tornagallu                                  1
A-64,sec-64,noida                           1
Ratnagiri                                   1
Australia                                   1
Gulbarga                                    1
Hyderabad(bhadurpally)                      1
Maharajganj                                 1
Jaspur                                      1
Bharuch                                     1
Am                                          1
Vsakhapttnam                                1
Bikaner                                     1
Bhagalpur                                   1
India                                       1
Asansol                                     1
Tirunelvelli                                1
Ernakulam                                   1
Daman and diu                               1
Technopark, trivandrum                      1
Nanded                                      1
Dharmapuri                                  1
Vandavasi                                   1
Rohtak                                      1
Una                                         1
Salem                                       1
Asifabadbanglore                            1
Name: count, dtype: int64

In [11]:
from fuzzywuzzy import process

def spell_check(target='', choice=[],threashold=65):
    word, theres = process.extractOne(target,choice)
    if theres >= threashold:
        return word
    else:
        return 'Other'

In [12]:
df['JobCity2'] = df['JobCity'].apply(lambda x: spell_check(str(x),choices))

In [13]:
df['JobCity'].unique()

array(['Bangalore', 'Indore', 'Chennai', 'Gurgaon', 'Manesar',
       'Hyderabad', 'Banglore', 'Noida', 'Kolkata', 'Pune', nan, 'Mohali',
       'Jhansi', 'Delhi', 'Bhubaneswar', 'Navi mumbai', 'Mumbai',
       'New delhi', 'Mangalore', 'Rewari', 'Gaziabaad', 'Bhiwadi',
       'Mysore', 'Rajkot', 'Greater noida', 'Jaipur', 'Thane',
       'Maharajganj', 'Thiruvananthapuram', 'Punchkula', 'Bhubaneshwar',
       'Coimbatore', 'Dhanbad', 'Lucknow', 'Trivandrum', 'Gandhi nagar',
       'Una', 'Daman and diu', 'Gurgoan', 'Vsakhapttnam', 'Nagpur',
       'Bhagalpur', 'New delhi - jaisalmer', 'Ahmedabad', 'Kochi/cochin',
       'Bankura', 'Bengaluru', 'Kanpur', 'Vijayawada', 'Kochi', 'Beawar',
       'Alwar', 'Siliguri', 'Raipur', 'Bhopal', 'Faridabad', 'Jodhpur',
       'Udaipur', 'Muzaffarpur', 'Kolkata`', 'Bulandshahar', 'Haridwar',
       'Raigarh', 'Visakhapatnam', 'Jabalpur', 'Unnao', 'Aurangabad',
       'Belgaum', 'Dehradun', 'Rudrapur', 'Jamshedpur', 'Vizag', 'Nouda',
       'Dharamshala', 'Banagalore', 'Hissar', 'Ranchi', 'Madurai',
       'Gurga', 'Chandigarh', 'Australia', 'Cheyyar', 'Sonepat',
       'Ghaziabad', 'Pantnagar', 'Jagdalpur', 'Angul', 'Baroda',
       'Ariyalur', 'Jowai', 'Kochi/cochin, chennai and coimbatore',
       'Neemrana', 'Tirupathi', 'Bhubneshwar', 'Calicut', 'Gandhinagar',
       'Dubai', 'Ahmednagar', 'Nashik', 'Bellary', 'Ludhiana',
       'Muzaffarnagar', 'Gagret', 'Indirapuram, ghaziabad', 'Gwalior',
       'Chennai & mumbai', 'Rajasthan', 'Sonipat', 'Bareli', 'Hospete',
       'Miryalaguda', 'Dharuhera', 'Meerut', 'Ganjam', 'Hubli', 'Ncr',
       'Agra', 'Trichy', 'Kudankulam ,tarapur', 'Ongole', 'Sambalpur',
       'Pondicherry', 'Bundi', 'Sadulpur,rajgarh,distt-churu,rajasthan',
       'Am', 'Bikaner', 'Vadodara', 'India', 'Asansol', 'Tirunelvelli',
       'Ernakulam', 'Bilaspur', 'Chandrapur', 'Nanded', 'Dharmapuri',
       'Vandavasi', 'Rohtak', 'Patna', 'Salem', 'Nasikcity',
       'Technopark, trivandrum', 'Bharuch', 'Tornagallu', 'Jaspur',
       'Burdwan', 'Shimla', 'Gajiabaad', 'Jammu', 'Shahdol',
       'Muvattupuzha', 'Al jubail,saudi arabia', 'Kalmar, sweden',
       'Secunderabad', 'A-64,sec-64,noida', 'Ratnagiri', 'Jhajjar',
       'Gulbarga', 'Hyderabad(bhadurpally)', 'Nalagarh',
       'Jeddah saudi arabia', 'Chennai, bangalore', 'Jamnagar',
       'Tirupati', 'Gonda', 'Orissa', 'Kharagpur',
       'Navi mumbai , hyderabad', 'Joshimath', 'Bathinda', 'Johannesburg',
       'Kala amb', 'Karnal', 'London', 'Kota', 'Panchkula', 'Baddi hp',
       'Nagari', 'Mettur, tamil nadu', 'Durgapur', 'Pondi', 'Surat',
       'Kurnool', 'Kolhapur', 'Bhilai', 'Hderabad', 'Bahadurgarh',
       'Rayagada, odisha', 'Kakinada', 'Varanasi', 'Punr', 'Nellore',
       'Sahibabad', 'Howrah', 'Trichur', 'Ambala', 'Khopoli', 'Keral',
       'Roorkee', 'Allahabad', 'Delhi/ncr', 'Jalandhar', 'Vapi', 'Pilani',
       'Muzzafarpur', 'Ras al khaimah', 'Bihar', 'Singaruli', 'Pondy',
       'Phagwara', 'Guragaon', 'Baripada', 'Yamuna nagar', 'Shahibabad',
       'Sampla', 'Guwahati', 'Rourkela', 'Banaglore', 'Vellore', 'Dausa',
       'Latur (maharashtra )', 'Mainpuri', 'Dammam', 'Haldia',
       'Rae bareli', 'Patiala', 'Gorakhpur', 'New dehli', 'Ambala city',
       'Karad', 'Rajpura', 'Haryana', 'Asifabadbanglore'], dtype=object)

In [14]:
df['JobCity'].value_counts()

JobCity
Bangalore                                 665
Noida                                     389
Hyderabad                                 368
Pune                                      327
Chennai                                   313
Gurgaon                                   217
New delhi                                 204
Kolkata                                   119
Mumbai                                    119
Jaipur                                     53
Lucknow                                    41
Mysore                                     40
Navi mumbai                                34
Greater noida                              29
Chandigarh                                 28
Bhubaneswar                                27
Indore                                     25
Delhi                                      21
Coimbatore                                 21
Bhopal                                     19
Ahmedabad                                  19
Faridabad                                  18
Ghaziabad                                  16
Banglore                                   14
Kochi/cochin                               13
Mohali                                     13
Dehradun                                   11
Nagpur                                     11
Mangalore                                  11
Trivandrum                                 10
Kanpur                                      9
Bhubaneshwar                                9
Thiruvananthapuram                          7
Thane                                       7
Jabalpur                                    7
Patna                                       7
Visakhapatnam                               7
Pondicherry                                 6
Trichy                                      5
Bengaluru                                   5
Raipur                                      5
Jodhpur                                     5
Meerut                                      4
Bhubneshwar                                 4
Udaipur                                     4
Ranchi                                      4
Madurai                                     4
Gurgoan                                     4
Nasikcity                                   4
Bilaspur                                    3
Vizag                                       3
Dubai                                       3
Rudrapur                                    3
Panchkula                                   3
Haridwar                                    3
Nashik                                      3
Ludhiana                                    3
Tirupathi                                   3
Gandhinagar                                 3
Secunderabad                                3
Aurangabad                                  3
Neemrana                                    2
Pantnagar                                   2
Ambala                                      2
Kota                                        2
Pilani                                      2
Ongole                                      2
Karnal                                      2
Sambalpur                                   2
Ahmednagar                                  2
Sonipat                                     2
Nalagarh                                    2
Shahdol                                     2
Chandrapur                                  2
Hubli                                       2
Vadodara                                    2
Jamnagar                                    2
Agra                                        2
Vijayawada                                  2
Kochi                                       2
Belgaum                                     2
Siliguri                                    2
Jamshedpur                                  2
Dhanbad                                     2
Gandhi nagar                                2
Manesar                                     2
Beawar                                      2
Rajkot                                      2
Hissar                                      2
Unnao                                       2
Kakinada                                    1
Rayagada, odisha                            1
Bahadurgarh                                 1
Hderabad                                    1
Bhilai                                      1
Kolhapur                                    1
Varanasi                                    1
Punr                                        1
Nellore                                     1
Sahibabad                                   1
Howrah                                      1
Trichur                                     1
Kurnool                                     1
Durgapur                                    1
Surat                                       1
Kala amb                                    1
Gonda                                       1
Orissa                                      1
Kharagpur                                   1
Navi mumbai , hyderabad                     1
Joshimath                                   1
Bathinda                                    1
Johannesburg                                1
Bhiwadi                                     1
Pondi                                       1
London                                      1
Gaziabaad                                   1
Rewari                                      1
Baddi hp                                    1
Nagari                                      1
Mettur, tamil nadu                          1
Khopoli                                     1
Jhansi                                      1
Gurga                                       1
Keral                                       1
Rae bareli                                  1
Vellore                                     1
Dausa                                       1
Latur (maharashtra )                        1
Mainpuri                                    1
Dammam                                      1
Haldia                                      1
Patiala                                     1
Rourkela                                    1
Gorakhpur                                   1
New dehli                                   1
Ambala city                                 1
Karad                                       1
Rajpura                                     1
Haryana                                     1
Banaglore                                   1
Guwahati                                    1
Roorkee                                     1
Bihar                                       1
Allahabad                                   1
Delhi/ncr                                   1
Jalandhar                                   1
Vapi                                        1
Muzzafarpur                                 1
Ras al khaimah                              1
Singaruli                                   1
Sampla                                      1
Pondy                                       1
Phagwara                                    1
Guragaon                                    1
Baripada                                    1
Yamuna nagar                                1
Shahibabad                                  1
Tirupati                                    1
Jhajjar                                     1
Chennai, bangalore                          1
Hospete                                     1
Indirapuram, ghaziabad                      1
Gwalior                                     1
Chennai & mumbai                            1
Rajasthan                                   1
Muzaffarpur                                 1
Bareli                                      1
Miryalaguda                                 1
Muzaffarnagar                               1
Dharuhera                                   1
Ganjam                                      1
Alwar                                       1
Ncr                                         1
Kudankulam ,tarapur                         1
Bankura                                     1
Gagret                                      1
Kolkata`                                    1
Bundi                                       1
Ariyalur                                    1
Cheyyar                                     1
Sonepat                                     1
Banagalore                                  1
Jagdalpur                                   1
Angul                                       1
Baroda                                      1
Jowai                                       1
Bellary                                     1
Kochi/cochin, chennai and coimbatore        1
Dharamshala                                 1
Nouda                                       1
Calicut                                     1
Raigarh                                     1
Bulandshahar                                1
New delhi - jaisalmer                       1
Sadulpur,rajgarh,distt-churu,rajasthan      1
Jeddah saudi arabia                         1
Kalmar, sweden                              1
Burdwan                                     1
Shimla                                      1
Gajiabaad                                   1
Jammu                                       1
Muvattupuzha                                1
Al jubail,saudi arabia                      1
Punchkula                                   1
Tornagallu                                  1
A-64,sec-64,noida                           1
Ratnagiri                                   1
Australia                                   1
Gulbarga                                    1
Hyderabad(bhadurpally)                      1
Maharajganj                                 1
Jaspur                                      1
Bharuch                                     1
Am                                          1
Vsakhapttnam                                1
Bikaner                                     1
Bhagalpur                                   1
India                                       1
Asansol                                     1
Tirunelvelli                                1
Ernakulam                                   1
Daman and diu                               1
Technopark, trivandrum                      1
Nanded                                      1
Dharmapuri                                  1
Vandavasi                                   1
Rohtak                                      1
Una                                         1
Salem                                       1
Asifabadbanglore                            1
Name: count, dtype: int64

In [15]:
df['JobCity'].isnull().sum()

461

In [16]:
df['Gender'].value_counts()

Gender
m    3041
f     957
Name: count, dtype: int64

In [17]:
maxdate = '2015-12-12 00:00:00'

In [18]:
df['DOL'] = pd.to_datetime(df['DOL'].replace('present',maxdate))

In [19]:
df['YOE'] = round((df['DOL']-df['DOJ'])/pd.Timedelta(days=365))

In [20]:
df['YOE'] = df['YOE'].where(df['YOE']>0,0)

In [21]:
df['YOE'] = df['YOE'].astype('int')

In [22]:
df['12graduation'].unique()

array([2007, 2010, 2008, 2009, 2006, 2011, 2005, 1995, 2004, 2012, 2003,
       2002, 2001, 1998, 2013, 1999], dtype=int64)

In [23]:
df['CollegeTier'].unique()

array([2, 1], dtype=int64)

In [24]:
def board(data):
    if ('cbs' in data.lower()) or ('central' in data.lower()):
        return 'CBSE'
    elif 'mat' in data.lower():
        return 'Matriculation'
    elif 'icse' in data.lower():
        return 'ICSE'
    else:
        return 'State Board'

In [25]:
df['10board'] = df['10board'].apply(lambda x: board(str(x)))

In [26]:
df['12board'] = df['12board'].apply(lambda x: board(str(x)))

In [27]:
df['Degree'].unique()

array(['B.Tech/B.E.', 'MCA', 'M.Tech./M.E.', 'M.Sc. (Tech.)'],
      dtype=object)

In [28]:
df['Specialization'].unique()

array(['computer engineering',
       'electronics and communication engineering',
       'information technology', 'computer science & engineering',
       'mechanical engineering', 'electronics and electrical engineering',
       'electronics & telecommunications',
       'instrumentation and control engineering', 'computer application',
       'electronics and computer engineering', 'electrical engineering',
       'applied electronics and instrumentation',
       'electronics & instrumentation eng',
       'information science engineering', 'civil engineering',
       'mechanical and automation', 'industrial & production engineering',
       'control and instrumentation engineering',
       'metallurgical engineering',
       'electronics and instrumentation engineering',
       'electronics engineering', 'ceramic engineering',
       'chemical engineering', 'aeronautical engineering', 'other',
       'biotechnology', 'embedded systems technology',
       'electrical and power engineering',
       'computer science and technology', 'mechatronics',
       'automobile/automotive engineering', 'polymer technology',
       'mechanical & production engineering',
       'power systems and automation', 'instrumentation engineering',
       'telecommunication engineering',
       'industrial & management engineering', 'industrial engineering',
       'computer and communication engineering',
       'information & communication technology', 'information science',
       'internal combustion engine', 'computer networking',
       'biomedical engineering', 'electronics', 'computer science'],
      dtype=object)

In [29]:
df['CollegeCityTier'].unique()

array([0, 1], dtype=int64)

In [30]:
df['CollegeState'].value_counts()

CollegeState
Uttar Pradesh        915
Karnataka            370
Tamil Nadu           367
Telangana            319
Maharashtra          262
Andhra Pradesh       225
West Bengal          196
Punjab               193
Madhya Pradesh       189
Haryana              180
Rajasthan            174
Orissa               172
Delhi                162
Uttarakhand          113
Kerala                33
Jharkhand             28
Chhattisgarh          27
Gujarat               24
Himachal Pradesh      16
Bihar                 10
Jammu and Kashmir      7
Assam                  5
Union Territory        5
Sikkim                 3
Meghalaya              2
Goa                    1
Name: count, dtype: int64

In [31]:
df.loc[df['GraduationYear']==0,['GraduationYear']] = 2014

In [32]:
df['GraduationYear'].unique()

array([2011, 2012, 2014, 2016, 2013, 2010, 2015, 2009, 2017, 2007],
      dtype=int64)

In [33]:
def age(dob):
    today = pd.to_datetime(maxdate)
    return today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))

In [34]:
df['age'] = df['DOB'].apply(age)

In [35]:
df.drop(['Unnamed: 0','ID','DOJ','DOL','DOB','CollegeID','JobCity','CollegeCityID'],axis=1,inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   int64
 1   Designation            3998 non-null   object
 2   Gender                 3998 non-null   object
 3   10percentage           3998 non-null   float64
 4   10board                3998 non-null   object
 5   12graduation           3998 non-null   int64
 6   12percentage           3998 non-null   float64
 7   12board                3998 non-null   object
 8   CollegeTier            3998 non-null   int64
 9   Degree                 3998 non-null   object
 10  Specialization         3998 non-null   object
 11  collegeGPA             3998 non-null   float64
 12  CollegeCityTier        3998 non-null   int64
 13  CollegeState           3998 non-null   object
 14  GraduationYear         3998 non-null   int64
 15  English                3998 non-null   int64
 16  Logical                3998 non-null   int64
 17  Quant                  3998 non-null   int64
 18  Domain                 3998 non-null   float64
 19  ComputerProgramming    3998 non-null   int64
 20  ElectronicsAndSemicon  3998 non-null   int64
 21  ComputerScience        3998 non-null   int64
 22  MechanicalEngg         3998 non-null   int64
 23  ElectricalEngg         3998 non-null   int64
 24  TelecomEngg            3998 non-null   int64
 25  CivilEngg              3998 non-null   int64
 26  conscientiousness      3998 non-null   float64
 27  agreeableness          3998 non-null   float64
 28  extraversion           3998 non-null   float64
 29  nueroticism            3998 non-null   float64
 30  openess_to_experience  3998 non-null   float64
 31  JobCity2               3998 non-null   object
 32  YOE                    3998 non-null   int32
 33  age                    3998 non-null   int64
dtypes: float64(9), int32(1), int64(16), object(8)
memory usage: 1.0+ MB

In [37]:
df.to_excel('Data/clean.xlsx',index=False)